###> KoninMikhail/fasty-package-delivery-courier-app ###

##### Folders #####
build/
dist/
node_modules/
vendor/
var/
.tmp/

# IDE's
.vscode/
.idea/


##### Files #####
ignore.*
*.ignore.*

# Environment variables and secret keys
.env
.env.test
*.pem

###< KoninMikhail/fasty-package-delivery-courier-app ###
